<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="footer-basic">
        <footer> 
            <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
                <li class="list-inline-item"><a href="/Offers">Offers</a></li>
                <li class="list-inline-item"><a href="/Menu">Menu</a></li>
                <li class="list-inline-item"><a href="/Stores">Contact</a></li> 

            </ul> 
            <p class="copyright">Danial Ghobrial © 2024</p>
        </footer>
    </div>
</body>

</html>