<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
     
    </head>
    <body>
        <header>     
            {% include "header.html" %}
        </header> 
        <nav>       
            {% include "nav.html" %}
        </nav>
        <main>      
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          <div class="flash-messages">
            {% for category, message in messages %}
              <div class="flash-message {{ category }} show">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
    </body>
</html>
