<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
     
    </head>
    <body>
        <header>     
            {% include "header.html" %}
        </header> 
        <nav>       
            {% include "nav.html" %}
        </nav>
        <main>      
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include "footer.html" %}
        </footer>

        <div class="flash-message" id="flash-message">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
            {% endif %}
            {% endwith %}
        </div>

        <script>
            // Show the flash message for 5 seconds, then hide it
            document.addEventListener('DOMContentLoaded', function() {
                const flashMessage = document.getElementById('flash-message');
                if (flashMessage.innerText.trim()) {
                    flashMessage.classList.add('show');
                    setTimeout(() => {
                        flashMessage.classList.remove('show');
                    }, 5000);
                }
            });
        </script>
    </body>
</html>
