{% extends "layout.html" %}
{% block content %}
<div class="gridmenu">
{% for item in results%}
<div class="middleimage">
   <a href="/pizza/{{item[0]}}"><img src="{{ item[3] }}">

      <form class="menuform" action="/menucart" method="post">
         <input type="hidden" name="id" value="{{ item[0] }}">
         <input type="hidden" name="name" value="{{ item[1] }}">
         <div class="middletext">
         <a><b>{{item[1]}}</b></a>
      </div>
      <button>Add To Cart</button>
     </form>
     
    </a>
   </div>
      {% endfor %}
   </div>   
{% endblock %}