{% extends "layout.html" %}
{% block content %}
<div class="image11">
    <img src="{{ pizza[3] }}">
  </div>

  <div class="text11">
    <h2>{{pizza[1]}}</h2>
    <h1>${{pizza[2]}}</h1>

    <form action="/cart" method="post">
      <input type="hidden" name="id" value="{{pizza[0]}}">
      <input type="hidden" name="name" value="{{pizza[1]}}">
      <button>Add To Cart</button>
    </form>
  </div>

  {% for item in session[('cart')]%}
  <h1>{{item[1]}}</h1>

  {% endfor %}
   
{% endblock %}
